Repository apache/gravitino, pull requests merged in 2024-07, with the labels that each got.

#4029 [#4065] improvement(test): Fix the path of integration log is wrong.
  build.gradle.kts
  catalogs/catalog-hadoop/src/test/resources/log4j2.properties
  catalogs/catalog-hive/src/test/resources/log4j2.properties
  catalogs/catalog-jdbc-doris/src/test/resources/log4j2.properties
  catalogs/catalog-jdbc-mysql/src/test/resources/log4j2.properties
  catalogs/catalog-jdbc-postgresql/src/test/resources/log4j2.properties
  catalogs/catalog-kafka/src/test/resources/log4j2.properties
  catalogs/catalog-lakehouse-iceberg/src/test/resources/log4j2.properties
  catalogs/catalog-lakehouse-paimon/src/test/resources/log4j2.properties
  integration-test/src/test/resources/log4j2.properties
  server/src/test/java/com/datastrato/gravitino/server/TestGravitinoServer.java
Labels: upload log

#4106 [#4111] Limit port ranges in docker to reduce possible port conflicts for Hive docker.
  catalogs/catalog-hadoop/build.gradle.kts
  catalogs/catalog-hive/build.gradle.kts
  catalogs/catalog-lakehouse-iceberg/build.gradle.kts
  dev/docker/kerberos-hive/Dockerfile
  dev/docker/kerberos-hive/start.sh
  integration-test-common/src/test/java/org/apache/gravitino/integration/test/container/BaseContainer.java
  integration-test-common/src/test/java/org/apache/gravitino/integration/test/container/HiveContainer.java
Labels: upload log

#4252 [MINOR] fix: wrong tag on `CatalogPaimonKerberosFilesystemIT`
  catalogs/catalog-lakehouse-paimon/src/test/java/org/apache/gravitino/catalog/lakehouse/paimon/integration/test/CatalogPaimonKerberosFilesystemIT.java
Labels: 0.6.0

#4272 [MINOR] fix: Refine the comments within the createCatalogWrapper method
  core/src/main/java/org/apache/gravitino/catalog/CatalogManager.java
Labels: 0.6.0

#4088 [#4062] feat(iceberg-rest-server): support RegisterTable for Iceberg REST server
  gradle/libs.versions.toml
  iceberg/iceberg-common/src/main/java/org/apache/gravitino/iceberg/common/ops/IcebergTableOps.java
  iceberg/iceberg-common/src/test/java/org/apache/gravitino/iceberg/common/utils/TestIcebergCatalogUtil.java
  iceberg/iceberg-rest-server/src/main/java/org/apache/gravitino/iceberg/service/rest/IcebergNamespaceOperations.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/integration/test/IcebergRESTServiceIT.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/service/rest/IcebergRestTestUtil.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/service/rest/IcebergTableOpsForTest.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/service/rest/IcebergTestBase.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/service/rest/TestIcebergNamespaceOperations.java
  iceberg/iceberg-rest-server/src/test/java/org/apache/gravitino/iceberg/service/rest/TestIcebergTableOperations.java
Labels: ICEBERG-REST-SERVER
